@model CourseIndexVm
@foreach (CourseHome coursePage in Model.CourseHomes)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-controller="course" asp-action="CourseDetail" asp-route-id="@coursePage.Id" >
                    <img src="~/assest/img/course/@coursePage.CourseImage" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a href="course-details.html">@coursePage.MainTitle</a></h3>
                <p>@coursePage.Description</p>
                <a class="default-btn" href="course-details.html">read more</a>
            </div>
        </div>
    </div>
    
}