@model AboutStart



<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="about-content">
            <h2>@Model.Title</h2>
            <p>@Model.Description</p>
            <p class="hidden-sm">@Model.Description</p>
            <a class="default-btn" href="#">view courses</a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="about-img">
            <img src="~/assest/img/about/@Model.Image" alt="about">
        </div>
    </div>
</div>

